<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <img src="https://www.cidadeoferta.com.br/storage/offers/7642-goodfellas-x-salada-1.jpg" alt="" width="50px" height="50px">
    
    <script src="/lib/localStorage.js"></script>
    <script src="/lib/index.js"></script>
    <script src="/validarLogado.js"></script>
    <script src="/validarDados.js"></script>

</body>
</html>